*.cmx
*.cmi
*.o
*.cma
*.cmxa
*.omc
*.a

.omakedb
.omakedb.lock
Engine/HyphenTable.ml
Main/ant
Main/ant.opt
PreProc/camlp4opt
PreProc/camlp4opt.opt
PreProc/pa_Num.cmo
PreProc/pa_extensions.cmo
Tools/XNum.ml
Unicode/GenUnicodeTable
Unicode/GenUnicodeTable.opt
Util/GenHyphTable
Util/GenHyphTable.opt
VM/Ali
VM/Ali.opt
ant

